== render :slim, :'header'

div id="container"
  div id="contents"
    
    div id="content-right"
      h1 tweets
      - if track_terms
        h2 "tracking #{track_terms}"
      div 
      table id="tweet_table"
        tbody
          tr
  
    div id="content-left"
          h1 twitternovelle
          p sjekk ut en tweetstrøm og se den oppdatere seg automatisk via html5 websockets
          br
          ul class="inline"
            li: input[type="text" id="track_terms"]
            button[type="button" id="track_terms_button" class="gen"] = "søk"
          
          hr
          ul class="inline"
            li twats så langt
            li[id="counter"] 0
          br  
          button[type="button" id="tweet_start" class="gen"] = "koble til Twitter"
          button[type="button" id="tweet_stop" class="gen" style="display:none;"]  = "koble fra Twitter" 
          button[type="button" id="websocket_open" class="gen" ] = "åpne websocket"
          button[type="button" id="websocket_close" class="gen" style="display:none;"]  = "lukk websocket" 
          
  javascript:
    $(document).ready(function () {
      // search 
      $('button#track_terms_button').on('click', function() {
        var request = $.ajax({
          url: '/',
          type: 'POST',
          cache: false,
          data: { track_terms: $('input#track_terms').val() },
          dataType: 'json'
        });
      });
        
      $('button#tweet_start').on('click', function() {
        var request = $.ajax({
          url: '/start',
          type: 'GET',
          cache: false
        });
        $('button#tweet_stop').show();
        $('button#tweet_start').hide();
      });
      $('button#tweet_stop').on('click', function() {
        var request = $.ajax({
          url: '/stop',
          type: 'GET'
        });
        $('button#tweet_stop').hide();
        $('button#tweet_start').show();
      });
      // open websocket
      $('button#websocket_open').on('click', function() {
        start_websocket();
        $('button#websocket_open').hide();
        $('button#websocket_close').show();
      });
      // close websocket
      $('button#websocket_close').on('click', function() {
        ws.close();
        $('button#websocket_open').show();
        $('button#websocket_close').hide();
      });    
    });             
  == render :slim, :'websocket', :locals => {:websocket => websocket}
