*                  { margin:0; padding:0; border:0; }
.select-disable     { -khtml-user-select: none; -moz-user-select: none;
                    -o-user-select: none;  user-select: none; }
button::-moz-focus-inner { border: 0; }

body               { font-family: Arial; font-size:100%; overflow:hidden}
h2                 { font-size: 2em; color: #222; letter-spacing: 2px; line-height: 1.1em ;}
hr                 { border: 1px solid gray; width: 91%; margin-top: 20px; margin-bottom: 20px;}
a:link             { text-decoration: none; color: #444;}
a:visited          { color: #444;}
a:active, a:focus  { outline-style: none; outline: 0; }

div#overlay        { position: fixed; width:100%; height: 100%; top:0; left: 0;
                     z-index: 50; background: #000; opacity: 0.8; display:none;}
div#inner-border   { padding: 20px; border:2px solid gray; background: #eee; height:338px; text-align: center;}

div#debug          { background-color:yellow; border: 1px solid black; border-radius: 2px;}
div#container      { width: 100%; color: #222; }

div#header         { height: 130px; width: 100%; background: #e65740; }
div#contents       { padding-left: 25px; padding-top: 35px;
                     float: left; background-color: #fff; width: 1400px; overflow:hidden;}
div#content-left   { width: 20%; background-color: #ddd;
                     border-radius: 5px; float: left; padding: 30px; color:#444;}
div#content-right  { float: right; width:70%; padding: 30px; height:600px; /*overflow:auto;*/
                     background-color: #ddd; border-radius: 5px;}
table#tweet_table  { border-spacing:10px; }  

button             { background-color: #e8e8e8; border: 1px solid #888; border-radius: 2px;
                    padding: 3px; color: #160b57; font-size: 12px; font-family: monospace;
                    min-width: 22px;}
button:disabled    { border: 1px dashed #ccc; color: #aaa;}
button:disabled:active { background: #e8e8e8; position:static;}
button:active      { background:#ddd; position:relative; top: 1px; }
button.gen         { margin-right:10px;}                    
img.logo           { float:left; margin-left:20px; margin-top: 30px; height: 60px; }

div.arrow          { border-color: transparent transparent transparent gray;
                     border-style: solid; border-width:16px; height:0; width: 0;
                     position: absolute; top: 120px; left: 210px; }
div.arrow-border   { border-color: transparent transparent transparent #eee;
                     border-style: solid; border-width:16px; height:0; width: 0;
                     position: absolute; top: 120px; left: 210px;}
div.arrow-s          { border-color: transparent transparent transparent gray;
                     border-style: solid; border-width:16px; height:0; width: 0;
                     position: absolute; top: 35px; left: 210px; }
div.arrow-border-s   { border-color: transparent transparent transparent #eee;
                     border-style: solid; border-width:16px; height:0; width: 0;
                     position: absolute; top: 35px; left: 210px;}
div.left-button     { color: #333; position: relative; display: block; width:210px; height: 245px;
                     border-top: 1px solid gray; border-right: 1px solid gray; padding-top: 25px;
                     text-align: center; font-size: 24px; background-color: #ddd;
                     box-shadow: 1px  10px 20px 5px rgba(0,0,0,0.18);
                     background: -moz-linear-gradient(left, #aaa, #eee); }
div.left-button-s   { position: relative; padding-top: 10px; display: block; width:210px; height: 90px; background-color: #ccc;
                     border-top: 1px solid gray; border-right: 1px solid gray;
                     border-bottom: 1px solid gray; text-align: center; font-size: 24px;
                     box-shadow: 1px  10px 20px 5px rgba(0,0,0,0.18);
                     background: -moz-linear-gradient(left, #aaa, #eee);}
.disabled          { visibility: hidden;}

ul.inline          { list-style-type: none }
ul.inline li       { display: inline; padding: 10px; }
ul.listevisning    { list-style-type: none }
ul.listevisning li { display: inline-block; width: 260px; height: 450px;
                     background-color: #ccc; margin: 0 50px 50px 0; padding: 20px;
                     border-radius: 5px; box-shadow: 1px  2px 20px 5px rgba(0,0,0,0.1);
                     text-align: center; overflow:hidden;}
img.listevisning   { height: 300px;}
